<div class="container pt-4 pb-4">

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active"><a href="#">Owner</a></li>
      <li class="breadcrumb-item active" aria-current="page">Offers</li>
      <li class="breadcrumb-item active" aria-current="page"><a href="<%= new_owner_offer_path %>">Create Offer</a></li>
    </ol>
  </nav>

  <%= render "shared/flash" %>

  <div class="card shadow-lg">
    <div class="card-body p-0">
      <table class="table">
        <thead class="thead-dark">
          <tr class='text-center'>
            <th scope="col">ID</th>
            <th scope="col">Starts</th>
            <th scope="col">Ends</th>
            <th scope="col">Duration</th>
            <th scope="col">Capacity</th>
            <th scope="col">Parking Price</th>
            <th scope="col">Discount</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>
        <tbody>

        <% @offers.each do |offer| %>
          <tr class='text-center'>
            <th scope="row"><%= offer.id %></th>
            <td><%= offer.starts %></td>
            <td><%= offer.ends %></td>
            <td><%= offer.days %></td>
            <td><%= offer.capacity %></td>
            <td><%= offer.parking_price %></td>
            <td><%= offer.discount %></td>
            <td><%= link_to "Edit", edit_owner_offer_path(offer) %></td>
            <td><%= link_to "Delete", owner_offer_path(offer), method: :delete %></td>
          </tr>
        <% end %>

        </tbody>
      </table>
    </div>
  </div>
</div>
